<include file="./Public/template/header.html" />
    <!-- Navigation -->
<include file="./Public/template/nav.html" />
    <div id="page-wrapper" style="min-height: 475px;">
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="__PUBLIC__/js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="__PUBLIC__/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="__PUBLIC__/js/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="__PUBLIC__/js/raphael.min.js"></script>
<script src="__PUBLIC__/js/morris.min.js"></script>
<script src="__PUBLIC__/js/morris-data.js"></script>

<!-- Custom Theme JavaScript -->
<script src="__PUBLIC__/js/sb-admin-2.js"></script>




</body>

</html>
